.navbar-container {
  background-color: #ffffff;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 50px;
}

.nav-btn {
  position: relative;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: medium;
  font-weight: 500;
  justify-content: center;
  border-radius: 3%;
  background-color: #ffffff;
  height: 1.5rem;
  border: 0px;
  /* background-color: yellow; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
}

.nav-option-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.nav-option-icon:hover {
  cursor: pointer;
}

.navbar-select {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  top: 2rem;
  left: 0.1rem;
  /* width: 15rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
  background-color: #ffffff;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-btn:hover .navbar-select {
  visibility: visible;
  opacity: 1;
}

.nav-btn:focus .navbar-select {
  visibility: visible;
  opacity: 1;
}

.navbar-select-option-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-selection-btn {
  padding: 0rem 0.75rem 0rem 0.75rem;
  margin-left: 5rem;
  width: 10rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3%;
  background-color: #ffffff;
}
