body {
  font-family: "Nunito", "Inter", sans-serif;
  color: #6c7077;
  font-size: small;
}

/* ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

.icon-wrapper {
  width: 1.5rem;
  height: 1.5rem;
} */
